.{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    padding: 34px;
    margin: auto;
}

.container h1, p{
    text-align: center;
}

h1{
    font-size: 35px;
}

p{
    font-size: 30;
    text-align: center;
}
input, textarea{
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
}

.pic{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.submitMsg{
    font-size: 30px;
    color: white;
}